BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "clk_USB" 12.000000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "spi_csn" SITE "P3" ;
LOCATE COMP "spi_miso" SITE "N4" ;
LOCATE COMP "spi_mosi" SITE "P13" ;
LOCATE COMP "spi_sclk" SITE "M4" ;
LOCATE COMP "uart_rx" SITE "E1" ;
LOCATE COMP "uart_tx" SITE "E2" ;
LOCATE COMP "scl" SITE "C8" ;
LOCATE COMP "sda" SITE "B8" ;
LOCATE COMP "clk_USB" SITE "A7" ;
LOCATE COMP "I2CAlert" SITE "B7" ;
IOBUF PORT "spi_csn" IO_TYPE=LVCMOS25 PULLMODE=UP ;# Old board
LOCATE COMP "PushBn" SITE "N3" ;
IOBUF PORT "PushBn" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
TEMPERATURE 60.000 C;
IOBUF PORT "pwm0" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=8 ;
LOCATE COMP "pwm0" SITE "D1" ;
