BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
TEMPERATURE 60.000 C;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm0" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
IOBUF PORT "pwm1" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=8 ;
BANK 0 VCCIO 3.3 V;
LOCATE COMP "scl" SITE "3" ;
LOCATE COMP "sda" SITE "4" ;
IOBUF PORT "scl" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sda" OPENDRAIN=ON IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT PORT "scl" LOAD 10.000000 pF ;
OUTPUT PORT "sda" LOAD 10.000000 pF ;
LOCATE COMP "pwm0" SITE "112" ;
LOCATE COMP "pwm1" SITE "114" ;
LOCATE COMP "rst_out" SITE "12" ;
LOCATE COMP "d0_out" SITE "14" ;
IOBUF PORT "d0_out" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_USB" SITE "27" ;
IOBUF PORT "clk_USB" PULLMODE=NONE IO_TYPE=LVCMOS33 HYSTERESIS=NA ;
USE PRIMARY NET "clk1d" ;
USE PRIMARY NET "clk_USB_c" ;
PROHIBIT PRIMARY NET "sda_in" ;
PROHIBIT PRIMARY NET "scl_in" ;
OUTPUT PORT "pwm0" LOAD 15.000000 pF ;
OUTPUT PORT "rst_out" LOAD 0.000000 pF ;
OUTPUT PORT "pwm1" LOAD 15.000000 pF ;
LOCATE COMP "clkEn" SITE "32" ;
IOBUF PORT "clkEn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "rst_out" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
